Source: derpconf
Maintainer: globo.com <timehome@corp.globo.com>
Uploaders: Wichert Akkerman <wichert@wiggy.net>,
 Marcelo Jorge Vieira (metal) <metal@debian.org>
Section: python
Priority: optional
Standards-Version: 3.9.3
Build-Depends: python (>=2.6.6-3~), debhelper (>= 8), python-setuptools
X-Python-Version: current
Homepage: https://github.com/globocom/derpconf
Vcs-Git: git://github.com/globocom/derpconf.git
Vcs-Browser: https://github.com/globocom/derpconf

Package: python-derpconf
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Provides: ${python:Provides}
Description: Python module to abstract loading configuration files for your app
 derpconf abstracts loading configuration files for your app.
