#!/usr/bin/make -f

PYTHON2		?= $(shell pyversions -vr)

build: build-stamp

build-stamp:
	dh_testdir
	python setup.py build
	touch build-stamp

build-arch build-indep:
	@echo Nothing to do

binary: binary-indep

binary-indep: build install 
	dh_testdir
	dh_testroot
	dh_installdocs README.md
	dh_installchangelogs
	dh_lintian
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	python$(PYTHON2) setup.py install --root=$(CURDIR)/debian/python-derpconf --install-layout=deb
	dh_python2


clean:
	dh_testdir
	dh_testroot
	rm -rf build
	rm -rf build-stamp
	rm -rf *.egg-info
	find . -name '*.py[co]' | xargs rm -f
	dh_clean
